/* mobile - view */
@font-face {
    font-family:ember-reg;
    src: url(fonts/pDxWAF1pBB0dzGB.woff2);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: ember-reg;
}
.desktop-view{
    display: none;
}
.mobile-view{
    overflow-x: hidden;
}
.mobile-view nav{
    position: relative;
    z-index: 208;
    font-size: 12px;
    line-height: 1em;
    min-width: 200px;
}
.nav-one{
    display: flex;
    position: relative;
    max-height: 48px;
    width: 100%;
    border-bottom: 1px solid #232f3e;
    background-color: #232f3e;
    justify-content: space-between;
    flex-flow: row nowrap;
}
.nav-one .nav-left{
    display: flex;
    flex-shrink: 0;
    flex-flow: row nowrap;
    position: relative;
    width: auto;
}
.nav-left .a-1{
    float: left;
    padding: 14px;
}
.nav-sprite{
    background: url("images/new-nav-sprite-global-2x_blueheaven-privacy._CB600086755_.png");
    background-size: 275px;
}
.nav-left a i{
    width: 20px;
    height: 20px;
    background-position: -20px -378px;
    display: block;
}
.nav-left .a-2{
    margin-top: 13px;
    margin-left: auto;
    position: relative;
    z-index: 20;
    display: inline-block;
    cursor: pointer;
    clear: both;
}
.a-2 .span-1{
    float: left;
    padding: 10px 40px 0 20px;
    background-position: -10px -50px;
    height: 27px;
    width: 80px;
}
.a-2 .span-2{
    width: 14px;
    height: 16px;
    direction: ltr;
    margin: 2px 0 0 1px;
    color: #fff;
    line-height: 14px;
    padding-top: 1px;
    font-size: 13.5px;
    font-family: ember-reg;
    display: inline-block;
}
.nav-right{
    flex-flow: row-reverse wrap;
    overflow: hidden;
    min-width: 60px;
    display: flex;
}
.nav-right div{
    order: 2;
}
.nav-right div a{
    display: flex;
    margin-left: 5px;
    line-height: 48px;
    font-size: 13px;
    color: #fff;
}
.nav-right .nav-person{
    padding: 9px 0 12px 4px;
    position: relative;
    width: 39px;
    display: flex;
    order: 1;
}
.nav-person i{
    order: 1;
    display: inline-block;
    width: 35px;
    height: 27px;
    background-position: -141px -300px;
    background-repeat: no-repeat;
}
.nav-right .nav-cart{
    order: 0;
    padding: 10px 18px 11px 7px;
}
.nav-cart span{
    width: 37px;
    height: 27px;
    background-position: -10px -240px;
    display: inline-block;
}
.nav-cart .nav-sprite span{
    padding: 0 0 0 16px;
    color: #f08804;
    font-size: 16px;
    display: flex;
    text-align: center;
    line-height: 10px;
    font-weight: 700;
    font-family: inherit;
}
.nav-two{
    display: flex;
    max-height: 50px;
    height: 100%; 
}
.nav-two form{
    display: block;
    padding: 2px 10px 5px 10px;
    position: relative;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin-bottom: 0;
    flex: 1;
    z-index: inherit;
    background: #232f3e;
} 
.form-type{
    width: auto;
    overflow: hidden;
    white-space: nowrap;
}
.form-type div{
    height: 44px;
    margin: 0;
    position: relative;
    background: #fff;
    border-radius: 0.5rem;
}
.form-type div input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 95px 0 10px;
    color: #000;
    font-size: 15px;
    box-shadow: 0 1px 0 0 rgba(255,255,255,.5),inset 0 1px 0 0 rgba(0,0,0,.07);
    outline: none;
    border: none;
    border-radius: 0.5rem;
}                     
.form-search{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: auto;
}
.form-search div{
    background: -webkit-linear-gradient(top,#febd69,#febd69);
    border-radius: 8px;
    position: relative;
    height: 44px;
    width: 50px;
    margin: 2px 10px 5px 5px;
    border: 0;
}
.form-search div input{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: none;
    background: -webkit-linear-gradient(top,#febd69,#febd69);
    text-indent: -100px;
}
.form-search .search-i{
    position: absolute;
    top: 10px;
    left: 12px;
    background-position: -73px -239px;
    width: 27px;
    height: 25px;
    -webkit-filter: invert(100%);
}
.nav-three{
    background-color: #37475a;
    height: 44px;
    width: 100%;
}
.nav-three .nav-3-pad{
    float: left;
    padding: 12px 10px;
    height: 100%;
    width: 100%;
}
.nav-three .nav-location{
    width: 20px;
    height: 20px;
    float: left;
    background-position: -75px -340px;
    margin-right: 5px;
}
.nav-three .nav-write{
    float: left;
    display: block;
    height: 20px;
    width: 85%;
}
.nav-three .nav-write span{
    font-size: 13px;
    line-height: 20px;
    color: #fff;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    clear: both;
}
.main{
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(12,1fr);
    padding-right: 4px;
    width: calc(100vw - 8px + 4px);
    margin-right: 4px;
    align-items: stretch;
    justify-content: stretch;
    box-sizing: content-box;
}
.main .div-1{
    margin-left: -4px;
    margin-right: -4px;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 20;
    overflow: hidden;
    transition: transform 0.2s linear;
    grid-column: 1 / -1;
}
.div-1 .div-1-marg{
    margin-bottom: 8px;
    height: calc(100% - 8px);
}
.div-1-marg .main-span{
    display: block;
    position: relative;
}
.div-1-top{
    height: 48px;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(17,17,17,.15);
    padding: 0;
    transition: 0.2s linear;
}
.div-1-top .top-left{
    display: flex;
    align-items: center;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
}
.top-left .top-left-pad{
    padding-left: 8px;
    margin-right: 4px;
    flex-shrink: 0;
}
.top-left-pad a{
    margin-right: 8px;
    margin-left: 4px;
    padding: 6px 0;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
}
.top-left-pad .span-1{
    margin: 0;
    display: inline-block;
}
.bg-2{    
    background: url('images/bg-2-boj0uoPgGPaQ-QZ.png');
}
.top-left-pad .span-1 .span-i{
    width: 53px;
    height:15px;
    background-position: -179px -145px;
    display: inline-block;
    margin-right: 4px;
    background-size: 510px 255px;
    vertical-align: baseline;
    margin-bottom: -1.75px;
    background-repeat: no-repeat;
}
.div-1 hr{
    margin: 0;
    opacity: 1;
    color: #d5dbdb;
    border-top: 0.1rem solid #d5dbdb;
    display: block;
    height: 0.1rem;
    line-height: 1.35;
}
.div-1-marg .span-2{
    display: inline-block;
}
.top-left .span-2::after{
    content: url(https://m.media-amazon.com/images/S/sash/J86UBa3MBZb1CXv.svg);
}
.div-1-top .top-right{
    float: right;
    margin: 0;
    display: flex;
}
.top-right .right-span{
    height: 46px;
    padding: 0 12px;
    background-color: #fff;
    box-shadow: inset 1px 0 0 0 #e6e6e6;
    color: #007185;
    display: inline-block;
}
.right-span button{
    color: #0f1111;
    width: 100%;
    height: 46px;
    background-color: transparent;
    border: 0;
    font-size: 1.6rem;
    line-height: 1.35;
    padding: 1.2rem 1.6rem 1.2rem 1.7rem;
    text-align: center;
    align-self: center;
    font-family: inherit;
}
.right-span .in-filt-btn{
    display: flex;
    align-items: center;
}
.in-filt-btn .inbtn-1{
    font-size: 14px;
    line-height: 20px;
    color: #007185;
}
.in-filt-btn .inbtn-2{
    margin-left: 6px;
    color: #007185;
    width: 10px;
    height: 10px;
    margin-top: 2px;
    transform: rotate(0);
    transform-origin: center 40%;
    transition: transform 0.25s ease-in-out;
}
.in-filt-btn .inbtn-2::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 2px;
    top: 50%;
    right: 50%;
    background-color: #007185;
    transform: rotate(45deg);
    transform-origin: 4px 1px;
    margin-right: -1px;
    margin-top: -1px;
}
.in-filt-btn .inbtn-2::after{
    content: '';
    position: absolute;
    width: 5px;
    height: 2px;
    top: 50%;
    left: 50%;
    background-color: #007185;
    transform: rotate(-45deg);
    transform-origin: 1px;
    margin-right: -1px;
    margin-top: -1px;
}
.div-1-botm{
    height: auto;
    background: #fff;
    box-shadow:0 1px 2px 0 rgba(17,17,17,.15);
}
.div-1-botm .botm-flex{
    display: flex;
    height: auto;
    align-items: baseline;
    overflow-y: hidden;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
}
.botm-flex .ul-div{
    margin: 6px 8px 6px 0;
    flex-shrink: 0;
    white-space: nowrap;
}
.botm-flex .ul-div:first-child{
    padding-left: 8px;
}
.ul-div .ul-a{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    border: 1px solid #d5dbdb;
    border-radius: 8px;
    background-color: #fff;
    text-decoration: none;
    color: #000;
}
.ul-a .li-div{
    width: auto;
    text-align: center;
    margin: 7px 8px;
}
.li-div span{
    font-size: 13px;
    line-height: 18px;
    color: #0f1111;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 140px;
}
.div-2{
    width: 100%;
}
.inconts-flex{
    display: flex;
    margin-bottom:8px;
    width: 100%;
}
.main{
    display: block;
}
.mobiles .inconts-flex .mob-side{
    width: calc(0.41667 * (100vw - 8px));
    min-width: unset;
}
.mobiles .mobNames h2{
    font-size: 14px;
}
.mobiles .inconts-flex .cont-side{
    min-width: unset;
}
.filterbody{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #fff;
    position: absolute;
    top: 191px;
    z-index: 1000;
    /* transform: translateY(100%); */
    display: none;
}
.filterbody.filters{
    /* transform: translateY(-100%); */
    display: block;
}
.filterbody .filt-marg{
    margin-bottom: 16px;
    height: calc(100% - 16px);
    display: flex;
}
.filterbody .filt-flex{
    display: flex;
    height: 100%;
    flex-direction: column;
    /* position: absolute; */
    width: 100%;
}
.filterbody .upper-body{
    position: fixed;
    width: 100%;
    height: 48px;
    left: 0;
    right: 0;
    /* bottom: 0; */
    margin: 0;
    background-color: #fff;
    border-bottom: 0.1rem solid #e7e7e7;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    z-index: 60;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    transform: translate3d(0,0,0);
}
.upper-body .filter-div{
    margin-left: 12px;
    white-space: nowrap;
    float: left;
    font-size: 1rem;
    /* font-weight: 700; */
}
.upper-body .close-div{
    margin-left: auto;
    margin-right: 12px;
    color: #007185;
    font-size: 0.8rem;
}
.filterbody .lower-body{
   width: 100%;
   margin-top: 48px;
   margin-bottom: 46px;
   display: flex;
   overflow: hidden;
   max-height: 569px;
   border-bottom: 1px solid #f4f4f4;
}
.lower-body .left-div{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    max-width: 120px;
    overflow-y: auto;
}
.left-div .left-span{
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 52px;
    background-color: #f5f9fa;
    height: 100%;
    min-height: fit-content;
}
.left-span span{
    text-overflow: ellipsis;
    max-width: 76px;
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    height: 100%;
    min-height: fit-content;
}
.left-span.click{
    background-color: #fff;
}
.left-span.click span{
    color: #007185;
    /* font-weight: 700; */
}
.lower-body .right-div{
    overflow-y: auto;
    padding-top: 12px;
    width: 100%;
}
.right-div .right-section{
    padding: 0 12px;
}
.right-div .heading{
    margin-bottom:8px;
    font-weight: 700;
    font-size: 15px;
}
.sub-div h5{
    margin-block: 8px;
    font-weight: 400;
}
.sub-div .span-divs{
    margin-bottom: 4px;
}
.sub-div .span-divs .span-flex{
    display: flex;
    flex-wrap: wrap;
}
.span-divs .span-flex a{
    padding: 7px 8px;
    border-radius: 8px;
    color: #000;
    text-decoration: none;
    width: fit-content;
    margin-bottom: 8px;
    margin-right: 8px;
    background: #f4f4f4;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #f4f4f4;
    font-size: 14px;
}
.back-blur{
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 900;
    display: none;
} 
.back-blur.filters{
    display: block;
}
body.no-scroll{
    overflow: hidden;
}
.inbtn-2.rotate{
    transform: rotate(180deg);
}
